@model Application.Models.ResetPasswordViewModel
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "app-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Code);
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-input", placeholder = "Введите email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-text-danger" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-input", placeholder = "Новый пароль" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "form-text-danger" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-input", placeholder = "Повторите пароль" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "form-text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Изменить пароль" class="form-submit" />
    </div>
}
