@model Application.Models.ChangePasswordViewModel
@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "app-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-input", placeholder = "Старый пароль" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "form-text-danger" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-input", placeholder = "Новый пароль" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "form-text-danger" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-input", placeholder = "Повторите новый пароль" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "form-text-danger" })
    </div>
    <div class="form-group">
            <input type="submit" value="Изменить пароль" class="form-submit" />
    </div>
}
